{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "/blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  <ul class="blog-posts">
    {{ $pages := .Pages }}
    {{ if .Site.Params.pagination.enabled }}
      {{ $pages = (.Paginator .Site.Params.pagination.limit).Pages }}
    {{ end }}

    {{ range $pages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
  {{ if .Data.Singular }}
  {{else}}
    {{ if .Site.Params.pagination.enabled }}
      {{ template "partials/pagination.html" . }}
    {{ end }}
  <small>
    <div>
      {{ $category := .Page.Path }}
      
      {{ range .Site.Taxonomies.tags }}
        {{ $showTag := false }}
        {{ range .Pages }}
        
          {{ if in .Params.Categories $category }}
            {{ $showTag = true }}
          {{ end }}
        {{ end }}

        {{ if $showTag }}
          <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      {{ end }}
    </div>
  </small>
  {{ end }}
</content>
{{ end }}